.about_me_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  background-color: #ebebeb;
}

.professional_historic {
  box-shadow: #1f1f1f 1px 1px 10px 1px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #1f1f1f;
}

.professional_historic_header {
  margin: 0px 0px 0px;
  color: #1f1f1f;
  font-size: 2em;
  font-weight: bold;
}

.storyline_header {
  width: 100%;
  text-align: center;
  background-color: #ebebeb;
  color: #1f1f1f;
  border-bottom: 1px solid #ccc;
}

.storyline_header p {
  text-indent: 5em;
  text-align: justify;
}

.storyline_header h1 {
  padding: 0px 0px 30px;
  margin: 0px;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid #ccc;
}

.cover_bg_image {
  width: 100%;
  top: 0;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  box-shadow: #1f1f1f 1px 1px 10px 1px;
}

.cover_bg_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.storyline {
  width: 100%;
  max-height: 300px;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}

.storyline_years {
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 300px;
  grid-area: 1 / 1 / 2 / 2;
}

.storyline_years::-webkit-scrollbar {
  width: 5px;
}

.storyline_years::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

.storyline_years::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
}

.storyline_years div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  scroll-behavior: smooth;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 80px;
  background-color: white;
}

.storyline_years div button {
  font-weight: bold;
  font-family: "Open sans", sans-serif;
  color: #1f1f1f;
  cursor: pointer;
  font-size: 1.8em;
  background-color: transparent;
  border: none;
}

.storyline_info {
  padding: 0px;
  margin: 0px;
  max-height: 300px;
  background-color: #1f1f1f;
  color: #ebebeb;
  box-sizing: border-box;
  grid-area: 1 / 2 / 2 / 5;
}

.storyline_info div {
  transition: .5s ease-in-out;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
}

.storyline_info div::-webkit-scrollbar {
  width: 0px;
}

.storyline_info div::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

.storyline_info div::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 2px;
}

.storyline_info div p {
  text-indent: 0px;
}

.know_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.know_more h2 {
  font-size: 2em;
}

@media screen and (max-width: 500px) {
  .know_more h2 {
    padding-bottom: 30px;
  }

  .know_more {
    padding: 0px 0px 30px;
  }

}