.home_content {
  width: 100%;
  min-height: 80vh;
  background-color: #ebebeb;
}

.loading_data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ebebeb;
}

.cover_bg_image {
  z-index: -1;
  top: 0;
  background-color: rgb(139, 68, 68);
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

.cover_bg_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_image {
  box-sizing: border-box;
}

.profile_image img {
  border-radius: 100%;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px 1px;
  width: 200px;
  position: absolute;
  top: 300px;
  left: 100px;
}

.profile_info {
  text-align: justify;
  width: 100%;
  padding-top: 120px;
  background-color: #ebebeb;
}

.profile_info h1,
p,
h2 {
  padding: 0px 100px;
  margin: 0;
}

.home_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ebebeb;
}

.profile_info h1 {
  font-weight: 600;
  margin-bottom: 20px;
}

.profile_info h2 {
  padding: 20px 0px;
  font-weight: normal;
  text-align: center;
}

.profile_info p {
  text-indent: 1.5em;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.profile_info p span {
  font-weight: bolder;
  text-transform: uppercase;
}