.back_to_top {
  position: fixed;
  border-radius: 100%;
  background-color: #ebebeb;
  border: 1px solid #1f1f1f;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
}

.back_to_top a {
  color: #1f1f1f;
  text-decoration: none;
}