.back_to_top {
  position: fixed;
  border-radius: 100%;
  background-color: rgba(31, 31, 31, 0.304);
  backdrop-filter: blur(6px);
  border: 1px solid #ebebeb;
  color: #ebebeb;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #1f1f1f 1px 1px 10px 1px;
  cursor: pointer;
}