nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: #1f1f1f72;
  backdrop-filter: blur(6px);
  box-shadow: rgba(0, 0, 0, 0.245) 5px 5px 10px 1px;
  color: white;
  position: fixed;
  z-index: 99;
  width: 100%;
}

nav p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

nav p a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  margin: 0px;
  list-style: none;
  gap: 30px;
}

nav ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  padding-top: 12.5px;
  font-weight: 400;
  box-sizing: border-box;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav ul li a:hover {
  transition: .5s;
  color: #b1b1b1;
}

.navbar_logo {
  font-weight: lighter; 
}

.navbar_logo span {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    padding: 20px 0px 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }

  nav p {
    padding: 0px 0px;
    flex-wrap: wrap;
  }

  nav ul {
    padding: 0px;
    margin: 0px;
    gap: 20px;
  }
}